# Grafana 数据源自动配置
# 自动添加 Prometheus 和 Loki 作为数据源

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 5s
  
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        # 从日志中提取 traceId 字段，链接到 trace 系统（如果部署了）
        - matcherRegex: "traceId[\":]\\s*\"([^\"]+)\""
          name: TraceID
          url: "$${__value.raw}"

